@model List<ResultVideoDto>
<div class="video section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h6>| Tanıtım Videomuzu İzleyin</h6>
                </div>
                @foreach (var item in Model)
                {
                    <div class="video-wrapper d-flex justify-content-center">
                        <iframe width="1024" height="576" src="@item.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-10">
            </div>
        </div>
    </div>
</div>