@model List<ResultContactDto>
<div class="contact section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h6 style="font-size: 1.3rem;">| İletişim </h6>
                    <h2 style="font-size: 2.6rem; font-weight: 700;">Bizimle İletişime Geçin</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-content">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-7">
                    <div id="map">
                        <iframe src="@item.MapUrl" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 mb-4">
                            <div class="item d-flex align-items-center p-3 shadow rounded" style="min-height: 100px; gap: 15px;">
                                <img src="~/VillaAgency-1.0.0/assets/images/phone-icon.png" alt="" style="width: 52px;">
                                <div>
                                    <h6 style="font-size: 1.3rem; font-weight: 600; margin: 0;">@item.Phone</h6>
                                    <small style="font-size: 1.1rem; color: #777;">Telefon Numarası</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="item d-flex align-items-center p-3 shadow rounded" style="min-height: 100px; gap: 15px;">
                                <div>
                                    <h6 style="font-size: 1.3rem; font-weight: 600; margin: 0;">@item.Email</h6>
                                    <small style="font-size: 1.1rem; color: #777;">Email</small>
                                </div>
                            </div>
                        </div>

                    </div>


                    </div>
               
            }
            @await Component.InvokeAsync("_DefaultMessage")
        </div>
    </div>
</div>