 <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Admin Paneli</li>

                    <li>
                        <a asp-controller="Banner" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Banner</span>
                        </a>
                       
                    </li>

            <li>
                <a asp-controller="Contact" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">İletişim Bilgisi</span>
                </a>

            </li>

            <li>
                <a asp-controller="Counter" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Sayaç</span>
                </a>

            </li>

            <li>
                <a asp-controller="Feature" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Öne Çıkanlar</span>
                </a>

            </li>

            <li>
                <a asp-controller="Message" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Gelen Mesajlar</span>
                </a>

            </li>


            <li>
                <a asp-controller="News" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Haberler</span>
                </a>

            </li>

            <li>
                <a asp-controller="Question" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Sorular-Cevaplar</span>
                </a>

            </li>

            <li>
                <a asp-controller="Rooms" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Meslek Odaları</span>
                </a>

            </li>

            <li>
                <a asp-controller="Video" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Video</span>
                </a>

            </li>

            <li>
                <a asp-controller="Default" asp-action="Index" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Siteye Git</span>
                </a>

            </li>
                   
                </ul>
            </div>
        </div>